<p>Bonjour {{ user.name }},</p>
<p>Vous avez demandé une réinitialisation de votre mot de passe, veuillez cliquer sur le lien suivant: <a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Ce lien est valable pendant 1 heure.</p>
<p>Merci !</p>