<h1>Bonjour {{ user.name }} !</h1>

<h4>Confirmez votre email !</h4>
<p>
    Merci de confirmer votre adresse email en cliquant sur le lien ci-dessous : <br><br>
    <a href="#">Confirmer mon adresse email</a>.
    {# This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
</p>

<p>
    Merci !
</p>